name: Deploy With Inputs-77

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select Environment'
        required: true
        type: choice
        options:
          - dev
          - prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code from repo
        uses: actions/checkout@v4

      - name: Show Selected Environment
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "Manual run - Environment: ${{ inputs.environment }}"
          else
            echo "Triggered by push to main"
          fi
